<div class="dvLeft">
    <ng-content></ng-content>
    <div class="tabs clearfix">
				<a class="btnTab" (click)="onTabSwitch(false)">Annotation</a>
				<a class="btnTab" (click)="onTabSwitch(true)">Layers</a>
			</div>
		<div class="dvLeft">
      <div *ngIf="!showLayers" class="tabContent clearfix">
        <app-annotations-controller class="tabContent clearfix"></app-annotations-controller>
        
      </div>
      <div *ngIf="showLayers" class="tabContent clearfix">
          <div class="dvAnnotation clearfix">
              <app-layers-controller class="tabContent clearfix">
                
              </app-layers-controller>
            </div>
      </div>
    </div>
</div>