<div class="wrapper">
  <app-header></app-header>

  <form (ngSubmit)="onSubmit()">
    <p>
      <input
        id="firstName"
        name="firstName"
        placeholder="John"
        [(ngModel)]="user.firstName"
      />
    </p>
    <p>
      <input
        id="lastName"
        name="lastName"
        placeholder="Doe"
        [(ngModel)]="user.lastName"
      />
    </p>
    <p>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="john@gmail.com"
        [(ngModel)]="user.email"
      />
    </p>
    <p>
      <select
        id="industry"
        name="industry"
        [(ngModel)]="user.industry"
      >
        <option value="" disabled="" selected="selected">Please select your industry...</option>
        <option value="quarry &amp; blasting">Quarry &amp; Blasting</option>
        <option value="civil engineering">Civil Engineering</option>
        <option value="mining">Mining</option>
        <option value="surveying">Surveying / Mapping</option>
        <option value="drone service">Commercial / Drone Service Provider</option>
        <option value="other">Other</option>
      </select>
    </p>
    <p>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="********"
        [(ngModel)]="user.password"
      />
    </p>
    <p>
      <input
        id="isPolicyAccepted"
        name="isPolicyAccepted"
        type="checkbox"
        [(ngModel)]="user.isPolicyAccepted"
      />
      <span>I agree to Strayos Privacy Policy.</span>
    </p>
    <button>SIGN UP</button>
  </form>

  <app-footer></app-footer>
</div>
