<div class="main">
  <button type="button" class="btn btn-primary myTimelineCollapse" (click)="isCollapsed = !isCollapsed">
    Timeline<span *ngIf="isCollapsed">&#9650;</span><span *ngIf="!isCollapsed">&#9660;</span>
  </button>
  <div [collapse]="isCollapsed" class="myTimelineOuter">
    <ul class="myTimelineCont">
      <li *ngFor="let keyframe of timeline$ | async" [id]="'keyframe-' + keyframe.dataset.id()" class="keyframe" [ngClass]="{selected: keyframe.isSelected, mainSelected: keyframe.isMain }">
        <div class="keyframe-inner" [style]="keyframe.color">
          <a (click)="selectKeyframe(keyframe)" [ngClass]="{disabled: keyframe.isMain}">
            <h5>
              <strong>{{keyframe.dataset.name()}}</strong><rating *ngIf="keyframe.isMain" [ngModel]="1" [max]="1" [readonly]="true"></rating>
            </h5>
            <h6>{{keyframe.dataset.createdAt() | date: 'd MMMM yyyy'}}</h6>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>


<ng-template #nothing>
  nothing
</ng-template>