<!-- Timeline -->
<div class="btnTimelineOuter">
    <a class="btnTimeline" href="javascript:void(0);">Timeline</a>
  </div>
  <div class="timelineContOuter">
    <div class="timelineCont">
      <div id="timelineSlider" class="timelineSlider"></div>
      <ul class="timelines">
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="bigLine">
          <div class="timelineImg">
            <div class="chkOuter">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="chk1" type="checkbox">
                <label></label>
              </div>
            </div>
            <div class="timelineImgCont">
              <img src="images/timelineImg.jpg" alt="">
            </div>
          </div>
          <p class="date">15 July 2017</p>
        </li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="bigLine">
          <div class="timelineImg">
            <div class="chkOuter">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="chk2" type="checkbox">
                <label></label>
              </div>
            </div>
            <div class="timelineImgCont">
              <img src="images/timelineImg.jpg" alt="">
            </div>
          </div>
          <p class="date active">15 July 2017</p>
        </li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="bigLine">
          <div class="timelineImg">
            <div class="chkOuter">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="chk3" type="checkbox">
                <label></label>
              </div>
            </div>
            <div class="timelineImgCont">
              <img src="images/timelineImg.jpg" alt="">
            </div>
          </div>
          <p class="date">15 July 2017</p>
        </li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="bigLine">
          <div class="timelineImg">
            <div class="chkOuter">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="chk4" type="checkbox">
                <label></label>
              </div>
            </div>
            <div class="timelineImgCont">
              <img src="images/timelineImg.jpg" alt="">
            </div>
          </div>
          <p class="date">15 July 2017</p>
        </li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="bigLine">
          <div class="timelineImg">
            <div class="chkOuter">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="chk5" type="checkbox">
                <label></label>
              </div>
            </div>
            <div class="timelineImgCont">
              <img src="images/timelineImg.jpg" alt="">
            </div>
          </div>
          <p class="date">15 July 2017</p>
        </li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li class="bigLine">
          <div class="timelineImg">
            <div class="chkOuter">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="chk6" type="checkbox">
                <label></label>
              </div>
            </div>
            <div class="timelineImgCont">
              <img src="images/timelineImg.jpg" alt="">
            </div>
          </div>
          <p class="date">15 July 2017</p>
        </li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
      </ul>
    </div>
  </div>
  